tqdm>=4.32.*
opencv-python>=4.1.*
albumentations==0.3.0
catalyst==19.12
torch==1.7.1
numpy>=1.17.*
matplotlib>=3.1.*
torchvision==0.8.2
mlflow[extras]>=1.13.1
dvc[s3]==1.10.1
jupyter==1.0.0
ipython==7.29.0
traitlets==5.1.1
